{:greeting "Hello World!"
 :env #env "PATH"
 :undefined-env-vector #env ["undefined-env" "default-env"]
 :path-env-vector #env ["PATH" "default-env"]
 :cond #cond {:default "default"
              :prod "prod"}
 :set-hostname #hostname {#{"fake-hostname" "yunwansu"} "set-hostname" :default "return this if not found hostname"}
 :string-hostname #hostname {"yunwansu" "string-hostname"}
 :envf #envf ["my home env is : %s" "HOME"]}
